<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link href="newstyle.css" rel="stylesheet" type="text/css"> <!--must come after Bootstrap link -->

</head>

<body ng-app="myApp" ng-controller="BookingController">
	
   <!--  <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
          <p>Choose the date<div id="dropdownArrow" class="glyphicon glyphicon-chevron-down"></div></p>
          </button>
          <select class="booking" aria-labelledby="dropdownMenu1" ng-model="selectedDate">
              <option value="Friday 12 Aug">Friday 12 Aug</option>
              <option value="Saturday 13 Aug">Saturday 13 Aug</option>
              <option value="Sunday 14 Aug">Sunday 14 Aug</option>
          </select>
          <ul class="dropdown-menu" class="booking" aria-labelledby="dropdownMenu1">
            <li><a class="dateSelect" href="#">Friday 12 Aug</a></li>
            <li><a class="dateSelect" href="#">Saturday 13 Aug</a></li>
            <li><a class="dateSelect" href="#">Sunday 14 Aug</a></li>
          </ul>
    </div> -->

      <span id="dateOfFlight">{{selectedDate}}</span>

    <div>
        <select ng-model="selectedDate2" ng-style="myObj">
            <option value="">Choose a date</option>
            <option>Fri 14th</option>
            <option>Sat 15th</option>
            <option>Sun 16th</option>
        </select>
        <span id="dateOfFlight">Date selected is: {{selectedDate2}}</span>
    </div> 
    <br>
    <br>
    <div>
        <select ng-model="selectedTime" ng-style="myObj">
            <option value="">Choose a time</option>
            <option>08.30</option>
            <option>09.30</option>
            <option>10.30</option>
        </select>
        <!-- <span id="dateOfFlight">Time selected is:  {{selectedTime}}</span> -->
        <span id="dateOfFlight" ng-bind="selectedDate2">Your chosen balloon flight is on {{selectedDate2}} August at {{selectedTime}}</span>
    </div> 

    </div> 
    <br>
    <br>
    <div class="container">
        <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
            <div class="dropdown">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Friday 14th
                        <div class="down-arrow-date"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </div>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Time 1</a></li>
                    <li><a href="#">Time 2</a></li>
                    <li><a href="#">Time 3</a></li>
                  </ul>
                  <span id="dateOfFlight">Time selected is: {{selectedTime}}</span>
                </div>
            </div>
            
        <!--     <div class="dropdown">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Saturday 15th
                        <div class="down-arrow-date"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </div>      
                    </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Time 1</a></li>
                    <li><a href="#">Time 2</a></li>
                    <li><a href="#">Time 3</a></li>
                  </ul>
                </div>
            </div>
            <div class="dropdown">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Sunday 16th
                    <div class="down-arrow-date"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </div>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Time 1</a></li>
                    <li><a href="#">Time 2</a></li>
                    <li><a href="#">Time 3</a></li>
                  </ul>
                  </div>
                </div>
            </div> -->
        </div>
    </div>
<!-- <div ng-controller="BookingController>
    <div class="dropdown">

        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

            Subject

            <span class="caret"></span>

        </button>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
           <li><a href="#">Physics</a></li>

            <li><a href="#">Math</a></li>

            <li><a href="#">Chemistry</a></li>

            <li><a href="#">Hindi</a></li>
        </ul>
        

    </div> -->
</div>

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="Fri">
            <button class="btn btn-default dropdown-toggle" id="dropdownMenu1" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-model="selectedTime1">
                <p >Friday 14th</p>
                <div class="down-arrow-date"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                </div>
              </button>

              <ul class="dropdown-menu" id="daydrop"  aria-labelledby="dropdownMenu1">
                <li class="FriTime" ><a href="#"><p>19.00</p></a></li>
                <li class="FriTime"><a href="#"><p>19.30</p></a></li>
                <li class="FriTime"><a href="#"><p>20.00</p></a></li>
                <li class="FriTime"><a href="#"><p>20.30</p></a></li>

              </ul>
            
          </div>

          <div class="flight-select-alert" id="Sat-alert">
            <p>You have selected {{ selectedTime1 }} on Saturday 15th August 2017</p>
          </div>




</body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script>
        var app = angular.module("myApp", []);
        app.controller("BookingController", function($scope) {
            $scope.myObj = {
                "background-color": "red",
                "color": "white",
                "height": "200px",
            }

        

});

    </script>

</html>