/* -------------------- MEDIA QUERIES ----------------------------------------------------------*/
/* -------------------- -------------- ----------------------------------------------------------*/


/* -----------For desktop: -----------------------------------------------------------------*/

@media only screen and (min-width: 992px) {
    
    
body {
	background-color: rgba(0, 0, 0, 0.1);
}

.central-box {
	width:80%;
	margin-left: auto;
	margin-right: auto; 
	background-color: white; 
	padding-top: 40px;
}


.nav.navbar-header {
    background-color: #000099;
    height: 250px;
}

#banner-figure {
	display: inline-block;
	right: 0px;
	float: right;
	margin-top: -148px;
}

.panel-body {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
}



#banner-logo {
	position: relative;
    width: 100px;
    top: 20px;
    left: 100px;
}

#myCollapsingList {
	width: 100%;
}

/*li.dropdown {
	width: 16.6%;
}*/

.setwidth {
	width: 16.66%;
}

li:hover {
    background-color: white;
}

/*#center {
	margin-right: auto;
	margin-left: auto; 
	width:60%;*/
}

#welcome-text aside p {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
}

.aside-text {
	padding-right: 50px;
}

.action {
	width: 50%;
}
}


	/* For tablet: ---------------------------------------------------------------------*/
@media only screen and (min-width: 600px) { 
    
/*.setwidth {*/
	/*width: 16.66%;*/
}

/*.setwidth.dropdown {
	width: 16.66%;
}*/

#aside-box {
	/*float: right;*/
	display: inline-block;
}

#welcome-text {
	float: left;
	display: inline-block;
}

.panel-body {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
}

#welcome-text h1 {
	font-size: 3.5rem;
	font-weight: 300;
}



.central-box {
	margin-left: auto;
	margin-right: auto; 
	background-color: white; 
	padding-top: 40px;
}
}