* {box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none!important;
}

html {
   font-size: 12px; /*declaring root element in pixels*/
}

 h1 {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 700;
	font-size: 2.5rem; /*displayed at 18px  */
	letter-spacing: 0.25px;
	color: #000099;
	margin-bottom: 10px;
	margin-top: 30px;
	line-height: 1.15;
}

h2 {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 500;
	font-size: 1.5rem; /*displayed at 18px  */
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: white;
	text-align: center;
	margin-bottom: 5px;
}

p {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 100;
	font-size: 1.5rem; /*displayed at 16px  */
	line-height: 1.5;
	letter-spacing: 0.5px;
	padding-top: 15px;
}

span {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 700;
}






.header {
	background-color: #000099;
	width: 100%;
	height: 400px;
}

.logo {
	margin: auto;
	width: 300px;
}

.header2 {
	background-color: #000099;
	width: 30%;
	height: 400px;
}




} 
/* ----------------------- NEW NAV ----- NEW NAV -------------------*/
.navbar {
	border: none;
	}

.navbar-default .navbar-nav>li>a {
	color: black;
}

nav.navbar {
	margin-bottom: 0px;
}

.nav.navbar-header {
    background-color: #000099;
    height: 170px;
    width: 100%;
}


#banner-logo {
    padding: 30px 20px 0px 35px;
   
}

#myCollapsingList.nav  {
	text-decoration: none;
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.65rem;
    letter-spacing: 0.6px;
    color: black;
    text-align: center;
    padding: 0px;
    border-bottom: 1px solid white;
    opacity: 0.8;
    margin-top: 0px;
    
}

.dropdown-menu {
    text-align: center; 
    background-color: white;
    font-size: inherit;   
}

.navbar-toggle {          
	margin-top: -45px;
	margin-right: 30px;
	border: none;
	width: 50px;
}

.navbar-default .navbar-toggle .icon-bar {   
	background-color: white;
	width: 30px;
	height: 3px;
	margin-top: 6px;
	border-radius: 1.5px;
}


li {
    border-bottom: 1px solid white;
    padding-top: 10px;
    background-color: #66ffcc;
}

li:hover {
    background-color: white;
}

a.dropdown-toggle {
	background-color: transparent;
}



/*------------ Home page -------------------------------------------*/



#mobile-holding-image { 
	width: 100%;
	
}

#carousel-BBF {
	z-index: -99;
}

.item {
	position: relative;
}

.item p {
	position: absolute;
	top: 100px;
	left: 20px;
	color: white;
	letter-spacing: 3.25px;
	font-size: 4.5rem;
	font-weight: 200;
	text-shadow: 0px 0px 20px black;
}


.carousel-inner div.item:nth-child(2) p {
	top: 80px;
	left: 100px;
	text-shadow: 0px 0px 20px white;
}

.carousel-inner div.item:nth-child(3) p {
	top: 220px;
	right: 10%;
	letter-spacing: 10px;
}

.carousel-inner div.item:nth-child(4) p {
	top: 90px;
	left: 400px;
}

.carousel-inner div.item:nth-child(5) p {
	top: 120px;
	right: 70px;
}

/*------------ Welcome page -------------------------------------------*/

#welcome-text {
	padding: 30px 50px 50px 50px;
}


/*------------ What's On template----------------------------------------------------------*/



span {                              /* bold time  */
	font-weight: 700;
	color: #000099;
}

strong { 
    font-weight: bold;
}

.panel panel-default {
	padding: 100px;
}

.down-arrow {                       /*  arrow div  */
	position: absolute;
	right: 20px;
	top: 16px;
}

.down-arrow span {                  /*  arrow glyph  */
	color: #bfbfbf;
	font-size: 2rem;
}

/*.container {
	padding-top: 20px;
}
*/
.panel-default > .panel-heading {
	background-color: white;
	height: 60px;
	border-style: 1px solid black;
}

/*
.panel-heading {
	position: relative;
}*/

.panel-title {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 500;
	font-size: 2.15rem;
	color: #000099;
	letter-spacing: 0.5px;
	padding-top: 5px;

}

#topCollapse {
	margin-top: 40px;
}



/* --------------Book a Flight template----------------------------------*/

/*.container {
	padding-top: 20px;
}*/

video {
	width:100%;
	margin-bottom: 40px;
}

#videointro {
	margin-bottom: 20px;
}

#form-blurb p {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 500;
	font-size: 1.0rem;
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: black;
	text-align: left;
}

#form-blurb {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 300;
	font-size: 1.10rem;
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: black;
	text-align: left;
	margin-bottom: 30px;
	margin-top: 30px;
}

input {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 100;
	font-size: 1.0rem; /*displayed at 16px  */
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: black;
	text-decoration: none;
	margin-bottom: 15px; 
}

input [disabled="disabled"]{
	opacity 0.4;
	cursor: not-allowed!important;
}


.invalid {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 100;
	font-size: 1.20rem; /*displayed at 16px  */
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: red;
	text-decoration: none;
	margin-bottom: 15px; 
	margin-top: -20px;
	text-align: center;
}

label {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 500;
	font-size: 1.0rem; 
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: black;
	text-decoration: none; 
	margin-bottom: 3px;
}

.dropdown {
	margin-bottom: 10px;
	width: 100%;
}

.dropdown-menu booking {
    text-align: center; 
   font-size: inherit; 
   background-color: white;  
}

.dropdown-menu {
	left: 20px;
	border-radius: 0px;
	padding: 0px;
	background-color: none;
}

.dropdown-menu li {
	background-color: none;
}

li a {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: black;
	text-decoration: none;
	height: 50px;
}

#dropdownArrow {
	position: absolute;
	top: 28px;
	right: 30px;
	color: #bfbfbf;
}

button {
	width: 100%;
}

input.ng-invalid.ng-touched {
	border: 1px solid red;
}

/* ------------ aside ------------------------------------------*/


.aside-text {
	padding: 30px 30px 10px 30px ;
	width: 100%;
	background-color: #ff3399;
	z-index: -99;
}

.aside-text p {
	color: white;
	font-weight: 700;
	line-height: 1.25;
	padding-top: 15px;
}

#bottombutt{
	margin-bottom: 20px;
}

.action {
	background-color: #66ffcc;
	width: 100%;
	height: 40px;
	border-radius: 10px;
	border: none;
	margin-top: 10px; 
	margin-left: auto;
	margin-right: auto;
}

button a {
	color: #000099;
	font-family: 'Holtwood One SC', serif;
	font-size: 2rem;
	text-align: center;
	padding-top: 5px;
	letter-spacing: 0.5px;
	text-decoration: none;
}

#horizRule {
	border-bottom: 1px solid white;
	height: 1px;
	width: 100%;
	margin-top: 30px;
}


#second {
	width: 250px;
	height: auto;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
	-ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
    transform: rotate(3deg);
  	margin-bottom: 14px; 
  	margin-right: auto;
  	margin-left: auto;
    border: 15px solid white;
    background-color: white;
}

#first {
	border: none;
	width: 100%;
}



/*------------ footer -------------------------------------------*/

footer{
    padding: 20px 20px 20px 20px;
    background-color: #999999;
    width: 100%;
    height: auto;
}


.footerblurb {
	font-family: 'Mukta Vaani', sans-serif;
	font-size: 1.25rem;
	font-weight: 500;
	text-align: left;
	line-height: 1.2;
	color: white;
	width: 150px;
}

#horiz-rule {
	background-color: white;
	height: 1px;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto; 
}
 
#vertical-rule  {
	background-color: white;
	height: 200px;
	width: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	
}

#sponsor-logos {
	width: 90%;
}

.logobox {
	background-color: white;
	width: 100px;
	height: 65px; 
	margin: 10px;
	padding: 20px 10px;
	text-align: center;
	color: #999999;
	border-radius: 10px;
	display: inline-block;
}

.top-buffer {
	margin-top: 20px;
}

#BBFcopyright {
	background-color: gray;
	color: white;
	text-align: center;
	width: 100%;
	height: 50px;
 
	
}

#BBFcopyright p {
	letter-spacing: 0.45px;
	font-weight: 300;
	font-size: 1.2rem;
}




/* -------------------- MEDIA QUERIES ----------------------------------------------------------*/


		/* For desktop: -----------------------------------------------------------------*/

@media only screen and (min-width: 992px) {
    
    
.nav.navbar-header {
    background-color: #000099;
    height: 250px;
}

#banner-figure {
	display: inline-block;
	right: 0px;
	float: right;
	margin-top: -148px;
}

.panel-body {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
}



#banner-logo {
	position: relative;
    width: 100px;
    top: 20px;
    left: 100px;
}

#myCollapsingList {
	width: 100%;
}

/*li.dropdown {
	width: 16.6%;
}*/

.setwidth {
	width: 16.66%;
}

li:hover {
    background-color: white;
}



#welcome-text aside p {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
}

.aside-text {
	padding-right: 50px;
}



	/* For tablet: ---------------------------------------------------------------------*/
@media only screen and (min-width: 600px) { 
    
.setwidth {
	width: 16.66%;
}

#aside-box {
	float: right;
	display: inline-block;
}

#welcome-text {
	float: left;
	display: inline-block;
}

.panel-body {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
}

#welcome-text h1 {
	font-size: 3.5rem;
	font-weight: 300;
}

#headingFlight {
	font-size: 3.5rem;
	font-weight: 300;
	margin-top: 30px;
}