

		<div class="aside-text" id="topaside"> <!--text etc-->

			<figure id="first">
				<img src="img/15.jpg"  alt="Happy team of volunteers" width="100%">
			</figure>

			<p>Want to be involved in the Fiesta? We have exciting and fulfilling openings for volunteer stewards, guides and helpers. Join in the fun, make friends and get a free BBF18 t-shirt.</p>
			
			<button class="action" type="button"><a href="#" >GET INVOLVED</a></button>

			<div id="horizRule">  <!-- horizontal rule --></div>

		</div>

		<div class="aside-text"> <!--text  and pic etc-->
			
				<figure id="second"><img src="img/10.1.jpg" alt="Man with balloon reflected in sunglasses" width="100%">
				</figure>
			
			<p>Post your thoughts and images on our social media platforms. And don't forget we'll keep you updated throughout the Fiesta with exciting news, prizes and freebies!</p>
			
		</div> 

