
<div class="row" class="central-box">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-lg-offset-1" id="content">
       
        <video controls= "controls" 
        preload= "none"   
        poster= "img/video-poster.png"> 
        	<source src="video/video.mp4" type="video/mp4">
        </video>
        

    		  <h1>See us from a different perspective</h1>
    		  <p id="videointro">Try the once-in-a-lifetime experience of drifting silently above the beautiful city of Bristol and surrounding countryside in one of our hot-air balloons at dawn or dusk. Watch the short video above to give you a flavour of what you can expect. We're offering <strong>hour-long flights for only £80 per person, including a glass of champagne</strong>, and will return you to the Fiesta arena by car. Please select your favoured day and time below – and prepare to be impressed!</p>
        
  
  
      <form name="bookingForm" ng-controller="myCtrl" novalidate >

        <div class="row"> <!--row for all day/time buttons -->

          <div id="select-day" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <select  ng-model="selectedDate">
                <option id="day-select-final" value="">Choose a date</option>
                <option  id="day-choice" ng-repeat="x in Days" ng-value="x.Day" ng-model="booking.selectedDate"> {{x.date}} </option>
            </select>
          </div> 
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <select id="select-time" ng-model="selectedTime">
                <option value="">Choose a time</option>
                <option id="time-choice" ng-value="x.time" ng-repeat="x in FriTimes" ng-model="booking.selectedTime"> {{x.time}} </option>
              </select>
          </div> 

         <!-- <div class="flight-select-alert" id="Fri-alert" ng-value="x.id"> -->
             <!--     <p>You have selected {{ selectedTime }} on {{selectedDate}} August 2018</p>
          </div> -->

        </div>




            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <label for="name" class="control-label" >Name</label>
                  <input  id="name" name="name" class="form-control" placeholder="please enter your full name" autocomplete="on" ng-model="booking.name" ng-required="true" type="text">

                  <div ng-show="bookingForm.name.$touched && bookingForm.name.$invalid">
                      <p class="invalid">Enter a valid name</p>
                  </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <label for="age" class="control-label">Age</label>
                  <input  id="age" name="age" class="form-control" placeholder="please enter your age" autocomplete="on" ng-model="booking.age" ng-required="true" type="number" min="10" max="120">

                  <div ng-show="bookingForm.age.$touched && bookingForm.age.$invalid">
                      <p class="invalid">Enter a valid age</p>
                  </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <label for="email" class="control-label">Email address</label>
                  <input  id="email" name="email" class="form-control" placeholder="please enter your email address" autocomplete="on" ng-model="booking.email" ng-required="true" type="email">

                  <div ng-show="bookingForm.email.$touched && bookingForm.email.$invalid">
                      <p class="invalid">Enter a valid email address</p>
                  </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <label for="phone" class="control-label">Telephone</label>
                  <input  id="phone" name="phone" class="form-control" placeholder="please enter your phone number" autocomplete="on" ng-model="booking.phone" ng-required="true" type="text" pattern="[0]{1}[0-9]{10}" title="Please use your full number, beginning with zero">

                  <div ng-show="bookingForm.phone.$touched && bookingForm.age.$invalid">
                      <p class="invalid">Enter a valid phone number</p>
                  </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-3">
              <button class="book-flight-btn" type="submit" class="btn btn-default" ng-click="myFunc()"><a>SUBMIT</a></button>
            </div>

        </form>
      </div>
    
<!-- modal pop up upon form submission ***********************************************************-->
      <div class="modal-thing" ng-click="myOtherFunc()">
        <div class="modal-message" ng-click="myOtherFunc()">
          <div id="click-away" class="glyphicon glyphicon-remove-circle"></div>
          <img src="img/BBF18_logo_lg.png" alt="Bristol Balloon Fiesta 2018 logo" width="120" id="modal-logo">
          <p><strong>Thank you for booking your balloon flight. We'll contact you soon with everything you'll need to know.
          </strong></p>
        </div>
      </div>
        
     

    <aside id="aside-box" class="col-xs-12 col-sm-4 col-md-4 col-lg-3"  ng-include="'templates/aside2.html'"></aside>

    
</div> <!--end outer row-->


