<div class="container">
  <h1 id="headingFlight">A different perspective</h1>
  <p id="videointro">Ebis pedit ipit il magnam dolupta delenim illautem. Ita enime dolorat ioribus aped ut omnitiatem nam errum in nust, est fugitat ad ea et facea quature ndisquam dolorerit, ipsuntem ese volorecte la niendaerror reperum et excepro mil ipsant et </p>
    
  <video controls= "controls" 
        preload= "none"   
        poster= "img/video-poster.png"> 
        <source src="video/video.mp4" type="video/mp4"/>
  </video>



<form name="bookingForm" data-ng-submit="submitForm()" novalidate>
  <div class="form-group">

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="dropdown" >
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
          <p>Choose the date<div id="dropdownArrow" class="glyphicon glyphicon-chevron-down"></div></p>
          </button>
          <ul class="dropdown-menu" class="booking" aria-labelledby="dropdownMenu1">
            <li><a class="dateSelect" href="#">Friday 12 Aug</a></li>
            <li><a class="dateSelect" href="#">Saturday 13 Aug</a></li>
            <li><a class="dateSelect" href="#">Sunday 14 Aug</a></li>
          </ul>
        </div>

        </div>
      <span id="dateOfFlight"></span>
   
    
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="dropdown" class="dropdown" >
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <p>Choose the time<div id="dropdownArrow" class="glyphicon glyphicon-chevron-down"></div></p>
            </button>

          <ul class="dropdown-menu" class="booking" aria-labelledby="dropdownMenu1">
            <li><a class = "timeSelect" href="#"><p id="time1"></p></a></li>
            <li><a class = "timeSelect" href="#"><p id="time2"></p></a></li>
            <li><a class = "timeSelect" href="#"><p id="time3"></p></a></li>
            <li><a class = "timeSelect" href="#"><p id="time4"></p></a></li>
        </ul>
      </div> 
      <span id="timeOfFlight">{{selectedTime}}</span>
    </div>
     
  </div> <!--end row-->


  
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      >>>>data test (remove later) {{booking}} <<<<
        <label id="first" for="name" class="control-label">Name</label>
        <input  id="name" class="form-control" placeholder="please enter your full name" autocomplete="on" ng-model="booking.name" ng-required="true" type="text"/>

      >>>>data test (remove later)
      $pristine - {{bookingForm.name.$pristine}},
      $dirty: {{bookingForm.name.$dirty}},
      $untouched: {{bookingForm.name.$untouched}},
      $touched: {{bookingForm.name.$touched}},
      $invalid: {{bookingForm.name.$invalid}},
      $valid: {{bookingForm.name.$valid}}<<<<
      
        <div ng-show="bookingForm.name.$touched && bookingForm.name.$invalid">
          <small style="color: red; display: block; text-align: center;">Enter a valid name</small>
        </div>
      </div>
    

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <label for="email" class="control-label">Email</label>
      <input id="email" class="form-control" placeholder="please enter your email address" autocomplete="on" ng-model="booking.email" ng-required="true" type="email"/>
        </div>
    </div><!--end row-->

    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <label for="age" class="control-label">Age</label>
        <input id="age" class="form-control" placeholder="please enter your age" autocomplete="on" ng-model="booking.age" ng-required="true" type="number" min="0" max="120"/>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <label for="telephone" class="control-label">Telephone</label>
      <input id="phone" class="form-control" placeholder="please enter your main contact number" autocomplete="on" ng-model="booking.phone" ng-required="true" type="text" pattern="[0]{1}[0-9]{10}" title="Please use your full number, beginning with zero"/>
    </div>
    </div><!--end row-->

    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <!--<button class="action" id="bottombutt" class="col-xs-12 col-md-6" type="submit" class="btn btn-default"><a>SUBMIT</a></button> -->
        <button type="submit" class="action" id="bottombutt" class="col-xs-12 col-md-6" class="btn btn-default" data-ng-disabled="registrationForm.$invalid"><a>SUBMIT</a></button>

    </div>
    </div><!--end row-->


    
    
 
      </div>  <!--end form group-->
  </form>

</div>  <!--end container-->
