<div ng-controller="myCtrl">

<form ng-submit="myFunc()">



  			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <label for="name" class="control-label">Name</label>
                <input  id="name" name="name" class="form-control" placeholder="please enter your full name" autocomplete="on" ng-model="booking.name" ng-required="true" type="text"/>

                <div ng-show="bookingForm.name.$touched && bookingForm.name.$invalid">
                    <p class="invalid">Enter a valid name</p>
                </div>
            </div>
            <br>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <label for="age" class="control-label">Age</label>
                <input  id="age" name="age" class="form-control" placeholder="please enter your age" autocomplete="on" ng-model="booking.age" ng-required="true" type="number" min="10" max="120"/>

                <div ng-show="bookingForm.age.$touched && bookingForm.age.$invalid">
                    <p class="invalid">Enter a valid age</p>
                </div>
            </div>
            <br>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <label for="email" class="control-label">Email address</label>
                <input  id="email" name="email" class="form-control" placeholder="please enter your email address" autocomplete="on" ng-model="booking.email" ng-required="true" type="email"/>

                <div ng-show="bookingForm.email.$touched && bookingForm.email.$invalid">
                    <p class="invalid">Enter a valid email address</p>
                </div>
            </div>
            <br>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <label for="phone" class="control-label">Telephone</label>
                <input  id="phone" name="phone" class="form-control" placeholder="please enter your phone number" autocomplete="on" ng-model="booking.phone" ng-required="true" type="text" pattern="[0]{1}[0-9]{10}" title="Please use your full number, beginning with zero"/>

                <div ng-show="bookingForm.age.$touched && bookingForm.age.$invalid">
                    <p class="invalid">Enter a valid phone number</p>
                </div>
            </div>
            <br>

            <button type="submit" class="btn btn-default"><a>SUBMIT</a></button>
</form>
</div>

<!-- <script>
var app = angular.module("myBFFApp", []);
app.controller("myCtrl", function($scope) {
	console.log('in controller'); // logs that connection to controller is active
  	$scope.myFunc = function () {
      alert("Thank you for booking your balloon flight. We'll be in touch with everything you'll need to know.");
  }
});
</script>

</body>
 -->
