
<div class="fake-container">

	<div id="content">

		<h1>Join us for three days of FREE family fun!</h1>

		<figure id="welcome-pic"><img src="img/9.jpg" alt="Balloons at night with glowing flames" width="100%">
		</figure>

		<section>
		<p>The Bristol Balloon Fiesta is Europe’s largest annual meeting of hot air balloons, attracting over 150 hot air balloons from across the globe. The Fiesta truly is a sight that can only be seen in Bristol. Held over three days in August at Ashton Court Estate, the event is completely free, with charges made for parking on the event site. Tickets can be purchased here. Alongside the fantastic sight of hot air balloons filling the skies, we have a large number of great trade stands, fairground rides and entertainment.<br><br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo co nsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui of ficia deserunt mollit anim id est laborum.</p>
		</section>

	</div>

	<aside id="aside-box" ng-include="'templates/aside2.html'"></aside>
	
</div>  <!--end row  .central-box -->



